#navigation-bar {
    -fx-padding: 5px 10px;
    -fx-effect: dropshadow(three-pass-box, black, 3, 0, 0, 0);
}

#historyBackButton, #historyForeButton {
    -fx-font-size: 14px;
    -fx-background-color: #e3e3e3;
    -fx-pref-width: 30px;
}

#search-section {
    -fx-padding: 10px;
    -fx-border-color: black;
    -fx-border-width: 0 0 0 0;
    -fx-pref-width: 200px;
    -fx-min-width: 200px;
    -fx-max-width: 400px;
    -fx-spacing: 5px;
    -fx-fill-width: true;
}

#status-bar {
    -fx-effect: dropshadow(three-pass-box, black, 4, 0, 0, 0);
}

#navigation-bar, #status-bar {
    -fx-background-color: #fafafa;
}

.controls-bar {
    -fx-background-color: #f3f3f3;
    -fx-border-color: black;
    -fx-border-width: 1px 0 1px 0;
    -fx-padding: 3px 20px 3px 20px;
    -fx-effect: dropshadow(three-pass-box, #e3e3e3, 1, 0, 1, 0);
}

.content-tabs {-fx-tab-max-height: 0;}
.content-tabs .tab-header-area {visibility: hidden;}

.cancel-button {
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(214,50,40);
    -fx-text-fill: WHITE;
    -fx-pref-width: 80px;
}

.save-button {
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(40,100,214);
    -fx-text-fill: WHITE;
    -fx-pref-width: 80px;
}

.blue-button {
    -fx-background-color: rgb(40,100,214);
    -fx-text-fill: WHITE;
}

.red-button {
    -fx-background-color: rgb(214, 50, 40);
    -fx-text-fill: WHITE;
}

.grey-italics,:grey-italics {
    -fx-font-style: italic;
    -fx-text-fill: #444444;
}

.large-text {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.jfx-text-field:invalid-field {
    /*-fx-text-box-border: red;*/
    -jfx-focus-color: red;
    -jfx-unfocus-color: red;
}