#navigation-bar {
    -fx-padding: 5px 10px;
    -fx-effect: dropshadow(three-pass-box, black, 3, 0, 0, 0);
}

#search-section {
    -fx-padding: 10px;
    -fx-border-color: black;
    -fx-border-width: 0 0 0 0;
    -fx-pref-width: 200px;
    -fx-min-width: 200px;
    -fx-max-width: 400px;
    -fx-spacing: 5px;
    -fx-fill-width: true;
}

#status-bar {
    -fx-effect: dropshadow(three-pass-box, black, 4, 0, 0, 0);
}

#navigation-bar, #status-bar {
    -fx-background-color: #fafafa;
}

.content-tabs {-fx-tab-max-height: 0;}
.content-tabs .tab-header-area {visibility: hidden;}

.cancel-button {
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(214,50,40);
    -fx-text-fill: WHITE;
    -fx-pref-width: 80px;
}

.save-button {
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(40,100,214);
    -fx-text-fill: WHITE;
    -fx-pref-width: 80px;
}
